<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="{{ metadata.siteLanguage }}">

<title>{{ title }} &middot {{ metadata.siteName }}</title>
<meta name="title" content="{{ metadata.siteName }}">
<meta name="description" content="{{ metadata.siteDescription }}">

{# Mobile Browser theme #}
<meta name="msapplication-TileColor" content="#603cba">
<meta name="theme-color" content="#ffffff">

{# Post pages #}
<meta name="author" content="{{ metadata.siteName }}">

{# All non-post pages #}
<meta property="og:type" content="website">
<meta property="og:url" content="{{ metadata.prodUrl }}">
<meta property="og:title" content="{{ metadata.siteName }}">
<meta property="og:description" content="{{ metadata.siteDescription }}">
<meta property="og:image" content="{{ metadata.prodUrl }}/images/social.png">

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ metadata.prodUrl }}/">
<meta property="twitter:title" content="{{ metadata.siteName }}">
<meta property="twitter:description" content="{{ metadata.siteDescription }}">
<meta property="twitter:image" content="{{ metadata.prodUrl }}/images/social.png">
